<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zeo Task</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="/public/js.cookie.js"></script>
<script src="/public/user.js"> </script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/user">Welcome {{.name}} {{.surname}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout" class="btn-logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Zeo Agency Task</h1>
    <p>Query building with GraphQL+- and dgo for DGraph</p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Task List (click icons)</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Task 1</p>
      <a href="/task/1"><img src= "../public/zeo.png" class="img-responsive" style="width:80%" alt="Image"></a>
    </div>
    <div class="col-sm-3">
      <p>Task 2</p>
      <a href="/task/2"><img src= "../public/zeo.png" class="img-responsive" style="width:80%" alt="Image"></a>
    </div>
    <div class="col-sm-3">
      <p>Task 3</p>
      <a href="/task/3"><img src= "../public/zeo.png" class="img-responsive" style="width:80%" alt="Image"></a>
    </div>
    <div class="col-sm-3">
      <p>Task 4</p>
      <a href="/task/4"><img src= "../public/zeo.png" class="img-responsive" style="width:80%" alt="Image"></a>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-3">
      <p>Task 5</p>
      <a href="/task/5"><img src= "../public/zeo.png" class="img-responsive" style="width:80%" alt="Image"></a>
    </div>
    <div class="col-sm-3">
      <p>Task 6</p>
      <a href="/task/6"><img src= "../public/zeo.png" class="img-responsive" style="width:80%" alt="Image"></a>
    </div>
    <div class="col-sm-3">
      <p>Task 7</p>
      <a href="/task/7"><img src= "../public/zeo.png" class="img-responsive" style="width:80%" alt="Image"></a>
    </div>
    <div class="col-sm-3">
      <p>Task 8</p>
      <a href="/task/8"><img src= "../public/zeo.png" class="img-responsive" style="width:80%" alt="Image"></a>
    </div>
  </div>
</div><br><br>

</body>
</html>


